body {
    background-image: url(./images/quran2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
}

.head { 
    color: rgb(175, 67, 67);
    background-color: grey;
    padding: 20px 0px;
    font-size: 20px;
}

.head2 {
    width: 300px;
    margin: 0 auto;
    color: rgb(65, 7, 7);
    background-color: rgba(224, 219, 149, 0.76);
    text-align: center;
    margin-top: 50px;
}   

.span2 {
    background-color: rgba(224, 219, 149, 0.76);
}
.dive2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.dive3 {
    width: 1000px;
    height: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(224, 219, 149, 0.76);
    color: rgb(65, 7, 7);
    list-style-type: none;
    overflow-y: scroll;
    text-align: right;
    padding: 20px;
    margin-top: 20px;
}

.dive3::-webkit-scrollbar {
    display: none;
}

.button{
    padding: 10px 15px;
    margin-left: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgb(124, 23, 23);
    color: white;
    font-weight: bold;
    
}

.button:hover {
    background-color: rgb(241, 231, 231);
    color: rgb(124, 23, 23);
}

input {
    width: 150px;
    height: 20px;
    border: none;
    margin-left: 65px;
}


.container {
    width: 1150px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.site-nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.site-nav-link {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    border-bottom: 3px solid transparent;
    padding: 16px;
    transition: border 0.3s ease;
}
.number {
    background-color: #901616;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 8px 16px;
    margin-left:24px;
    text-decoration: none;
}

.number:hover {
    background-color: rgb(199, 192, 192);
    color: #bb4545;
}

.site-nav-link:hover {
    border-bottom: 3px solid rgb(214, 202, 202);
    
}

.liste {
    list-style-type: none;
    font-size: 20px;
}
.items {
    font-weight: bold;
}